/* Table.module.scss */

@use '@/styles/mixin' as *;

.scrollContainer {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.root {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.header {
  background-color: var(--bg-tertiary);
  border-bottom: var(--border-1) solid var(--border-primary);
}

.headerCell {
  padding: var(--spacing-16);
  font-size: var(--typo-size-14);
  font-weight: bold;
  line-height: var(--typo-line-height-20);
  color: var(--text-tertiary);
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  background-color: var(--bg-tertiary);

  &-sticky {
    position: sticky;
    z-index: 2;
    background-color: var(--bg-tertiary);
  }
}

.cellContent {
  display: inline-flex;
  gap: var(--spacing-8);
  align-items: center;
  width: 100%;
}

.row {
  background: var(--bg-primary);
  border-bottom: var(--border-1) solid var(--border-primary);
  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--bg-secondary);

    .cell-sticky {
      background-color: var(--bg-secondary);
    }
  }
}

.cell {
  padding: var(--spacing-16);
  font-size: var(--typo-size-14);
  line-height: var(--typo-line-height-20);
  color: var(--text-primary);
  white-space: nowrap;
  vertical-align: middle;
  background-color: var(--bg-primary);

  // 空セル表示用
  &-empty {
    padding: 42px 0;
    color: var(--text-tertiary);
    text-align: center;
  }

  &-sticky {
    position: sticky;
    z-index: 1;
    background-color: var(--bg-primary);
  }
}

.link {
  color: var(--text-key);
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: var(--bg-key-hover);
    text-decoration: underline;
  }
}
