/* font.scss */

:root {
  /* Font Family */
  --font-family-default: 'Helvetica Neue', arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Noto Sans JP', sans-serif;

  /* Font Size */
  --typo-size-10: 10px;
  --typo-size-12: 12px;
  --typo-size-14: 14px;
  --typo-size-16: 16px;
  --typo-size-18: 18px;
  --typo-size-20: 20px;
  --typo-size-24: 24px;
  --typo-size-28: 28px;
  --typo-size-32: 32px;
  --typo-size-42: 42px;

  /* Line Height */
  --typo-line-height-8: 8px;
  --typo-line-height-10: 10px;
  --typo-line-height-12: 12px;
  --typo-line-height-14: 14px;
  --typo-line-height-16: 16px;
  --typo-line-height-18: 18px;
  --typo-line-height-20: 20px;
  --typo-line-height-22: 22px;
  --typo-line-height-24: 24px;
}
