@use './layer-order.css';
@use './color';
@use './variables';
@use './font';
@use './reset.css';
@use './mixin' as *;

@layer base {
  :root {
    --background: var(--bg-primary);
    --foreground: var(--text-primary);
  }


  html {
    height: 100%;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: var(--font-family-default);
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        opacity: 0.9;
      }
    }
  }


  .only-sp {
    @include isPc {
      display: none;
    }
  }

  .only-pc {
    @include isSp {
      display: none;
    }
  }
}
