/* WebFooter.module.scss */
.footer {
  padding: 2rem;
  margin-top: auto;
  text-align: center;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;

  .copy {
    font-size: 0.8rem;
    color: #888;
  }
}
